<template>
  <div class="container-fluid" id ="con-f1">
        <div class = "container-fluid">
            <div class = "topN">
                <div id = "navside" class ="col-6" >
                    <a class="btn " data-bs-toggle="offcanvas" data-bs-target="#mobsidebar" role="button" aria-controls="offcanvasExample" id = "bitis">
                        <i class="bi bi-list bi-md p-2"></i>
                    </a>
                </div>
                <div class ="searchC col-md-6 col-xs-6 col-sm-6">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div>
        </div>

        <h1 class = "p-3 mt-5 pb-5">All Songs</h1>

        
                                
            <div class="container1 col-md-12">
                            
                <table class="table table-bordered table-responsive table-hover " >
                    <thead class = "table1">
                        <tr id = "row1">
                            <th width="10%"></th>
                            <th width="20%" style="">Title</th>
                            <th width="15%" style="">Artist</th>
                            <th width="15%" style="">Album</th>
                            <th width="12%" style="">Duration</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row1">
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                    <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                </svg>
                               
                            </td>
                            <td>A little help please (acoustic)</td>
                            <td>Dumb Kids</td>
                            <td>---</td>
                            <td>4:30</td>
                        </tr>
                        <tr class="row2">
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                    </svg>
                                
                            </td>
                            <td>Thnks Fr Th Mmrs</td>
                            <td>Fall Out Boy</td>
                            <td>Infinity on High</td>
                            <td>3:00</td>
                        </tr>
                        <tr class="row3">
                            <td>
                              <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                    </svg>
                                
                            </td>
                            <td>Cancer</td>
                            <td>My Chemical Romance</td>
                            <td>The Black Parade</td>
                            <td>2:23</td>
                        </tr>
                        <tr class="row4">
                            <td>
                                <a>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                                    </svg>
                                </a>
                            </td>
                            <td>Three Empty Words</td>
                            <td>Shawn Mendes</td>
                            <td>Illuminate</td>
                            <td>3:19</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
  </div>


   <div class="offcanvas offcanvas-start" tabindex="-1" id="mobsidebar" aria-labelledby="offcanvasExampleLabel">
        <section id = "sid">
            <div class="container-fluid  text-center">
                <div class = "Logo pt-5 pb-5"> 

                    <div class="logo"></div>
                    <img src="../assets/logogo.png" class = "img-fluid " alt="" id="logo">

                </div>
                <div class = "collapse navbar-collapse" id = "navside">

                </div>
                <ul class="col" >
                    <li><a href="#" class = "col1" id="upload-music" 
                        data-bs-toggle="modal" data-bs-target="#exampleModal">Upload Music</a></li>

                    <li><a href="#" >All Music</a></li>

                </ul> 
                <ul class="col">
                    <li><a href="#" class = "col2" id="upload-music" 
                        data-bs-toggle="modal" data-bs-target="#exampleModal2">Create Playlist</a></li>
                </ul>
                <ul class="col">
                    <li><a href="#" class = "col3">Playlist 1</a></li>
                    <li><a href="#">Playlist</a></li>
                    <li><a href="#">Playlist</a></li>
                    <li><a href="#">Playlist</a></li>

                </ul>



            </div>
            </section>
             
</div>
  
</template>

<script>
export default {
    name: 'insideVue',
        components:{

        }
    
}

</script>

<style scoped>

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #A1BA6D;
    color:#fff;

  }

.container1{
    width: 100%;
 }
 table th {
    width: auto !important;
}
h1{
    width: 382px;
    color: rgba(249,207,147,1);
    left: 0px;
    
    font-family: Sora;
    font-weight: bold;
    font-size: 39px;
    opacity: 1;
    text-align: left;

}
table td{    
    height:80px;
    border: 3px solid #F4E1D3;
    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    vertical-align:middle;
    color: #969595;
    padding: 5px;
}
.searchC{
    padding-top:20px;
}
.form-control{
    width: 400px;
    height: 48px;
    border-color:rgba(166, 166, 166, 0.11);
    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    
    color: #B9B9B9;
    opacity: .5;
    box-shadow: inset 4px 4px 4px rgba(166, 166, 166, 0.11);
}
table{
    margin-top: 10px;
    border: 3px solid #F4E1D3;
    width: 100%;
    height: 40vh;
}
table thead{
    height:100px;
    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;

    color: #969595;
}
table thead tr#row1  {
    background:#D79771; 
    color:#FEF9EF;
    padding: 14px 0px 14px 23px;
    text-align: center;
    border: 3px solid #F4E1D3;
}
#sid{
        min-width: 300px;
        max-width: 300px;
        height: inherit;
        background-color: rgba(250,238,224,1);
        color: #fff;
        transition: all 0.3s;
        height: 100%;

    }


    #sid .sidebar-header{
        padding: 20px;
        background: #6d7fcc;
    }
    #sid ul.components{
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }


    #sid ul p{
        color: #fff;
        padding: 10px;
    }

    #sid .Logo #logo {
      width: 200px;
      height: 60px;
     
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 0px;
      text-align: center;
      cursor:pointer;
      opacity: 1;

      overflow: hidden;
    }
    #sid .col{
        margin-bottom:10px;
    }

    #sid ul{
        list-style: none;
    }
    #sid ul li{

      font-family: Sora;
      font-weight: bolder;
      font-size: 15px;
      opacity: 1;
      text-align: left;
      padding: 10px;

    }
    #sid a{
        text-decoration:none;
        color: rgba(227,187,108,1);
    }
    a,
    a:hover,
    a:focus{
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    /* Side Bar*/



    #sid.active {
        margin-left: -250px;
    }



    #sid ul li a{
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

    #sid ul li a:hover{
        color: #A1BA6D;

    }
    #sid ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: blue;
    }

    a[data-toggle="collapse"]{
        position: relative;
    }

</style>