<template>                        
        <div class = "container text-center" id="les1">
            <div class="progress">
                <div class="progress-bar" id="prog" role="progressbar" style="width: 60%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class = "row text-center p-5">
                <div class = "col-xs-2 col-sm-2 col-md-2" id="pic1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#6D9886" class="bi bi-skip-backward-fill" viewBox="0 0 16 16">
                        <path d="M.5 3.5A.5.5 0 0 0 0 4v8a.5.5 0 0 0 1 0V8.753l6.267 3.636c.54.313 1.233-.066 1.233-.697v-2.94l6.267 3.636c.54.314 1.233-.065 1.233-.696V4.308c0-.63-.693-1.01-1.233-.696L8.5 7.248v-2.94c0-.63-.692-1.01-1.233-.696L1 7.248V4a.5.5 0 0 0-.5-.5z"/>
                    </svg>
                
                </div>
                <div class = "col-xs-2 col-sm-2 col-md-2" id="pic2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#6D9886" class="bi bi-play-fill" viewBox="0 0 16 16">
                        <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
                    </svg>
                
                </div>
                <div class = "col-xs-2 col-sm-2 col-md-2" id="pic3" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="#6D9886" class="bi bi-skip-forward-fill" viewBox="0 0 16 16">
                        <path d="M15.5 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V8.753l-6.267 3.636c-.54.313-1.233-.066-1.233-.697v-2.94l-6.267 3.636C.693 12.703 0 12.324 0 11.693V4.308c0-.63.693-1.01 1.233-.696L7.5 7.248v-2.94c0-.63.693-1.01 1.233-.696L15 7.248V4a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                
                </div>
            
            </div>
            
        </div>
</template>

<script>
export default {
    name: 'underVue',
        components:{

    }
}
</script>

<style>
.row{
    justify-content: center;
}
#pic1{
    width:200px;
    cursor:pointer;
}
#pic2{
    width:100px;
    cursor:pointer;
}
#pic3{
    width:200px;
    cursor:pointer;
}
#les1{
    padding-top:40px;
}
#prog{
    height:13px;
    background-color:#6D9886;
    cursor:pointer;
}
</style>