<template>

    <div class="row">
        <aside class="col-md-12 col-sm-12 p-0 flex-shrink-1">
            
                    <div class="logo container pt-4 pb-5">
                        <div class = "container-fluid col-xs-12 text-center">
                            <img src="../assets/logogo.png" class = "img-fluid pe-auto" alt="" id="logo">
                            <button class="navbar-toggler border-0 order-1" id="sidebarCollapse" type= "button" data-toggler="collapse"
                            data-target="#navside" aria-controls="nav" aria-expanded = "false" aria-lable="Toggle Notification">
                                <i class="bi bi-list bi-md p-2"></i>
                                
                            </button>
                        </div>
                    </div>
                    
        
            <div class = "collapse navbar-collapse row" id = "navside">
                <div class = "container-fluid col-md-12 text-center">
                    <ul class="col-md-12" id = "colu">
                        <li><a href="#" class = "col1" id="upload-music" 
                        data-bs-toggle="modal" data-bs-target="#exampleModal">Upload Music</a></li>
                        
                        <li><a href="#" >All Music</a></li>

                    </ul> 
                    <ul class="col-md-12" id = "colu">
                        <li><a href="#" class = "col2" id="upload-music" 
                            data-bs-toggle="modal" data-bs-target="#exampleModal2">Create Playlist</a></li>
                    </ul>
                    <ul class="col-md-12" id = "colu">
                        <li><a href="#" class = "col3">Playlist 1</a></li>
                        <li><a href="#">Playlist</a></li>
                        <li><a href="#">Playlist</a></li>
                        <li><a href="#">Playlist</a></li>
                    </ul>
                </div>
                
            </div>
            
       </aside>                     
    </div>

    <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload Music</h5>
                    
                  </div>
                  <div class="modal-body">
                    <div class = "drag-box p-4 text-center">
                          <p class="" id="dbody">Drag and Drop files here</p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn1 btn-warning">Upload</button>
                    <button type="button" class="btn2 btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  </div>
                </div>
              </div>
            </div>
                
        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create Playlist</h5>
                    
                  </div>
                    
                  <div class="modal-body">
                          <input type="text" class="form-control" placeholder="">
                  </div>
                    
                  <div class="modal-footer">
                    <button type="button" class="btn1 btn-warning">Create</button>
                    <button type="button" class="btn2 btn-secondary" data-bs-dismiss="modal">Close</button>
                    
                  </div>
                </div>
              </div>
            </div>
</template>

<script>
    export default {
        name: 'webfile',
        components:{

        }
    }
</script>

<style scoped>

ul li a{
    text-decoration:none;
    color: rgba(227,187,108,1);
}
 #colu{
    margin-bottom:50px;
}

 ul{
    list-style: none;
    
}
 ul li{
    
  font-family: Sora;
  font-weight: bolder;
  font-size: 16px;
  opacity: 1;
  text-align: left;
  padding: 15px;
  
}

a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
    color: #A1BA6D;
    text-shadow:0 0 20px #FFFFFF;
}

img{
    height:44px;
    width: 148px;
    cursor:pointer;
}


#exampleModal .modal-content{
    border:3px solid #6D9886;;
    
}
#exampleModal .modal-header{
    background: #FAEEE0;
    color:#E3BC6D;
    border-bottom: 3px solid #6D9886;
}
#exampleModal .modal-header .modal-title{
    font-family: Sora;
    font-weight: bolder;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
#exampleModal .modal-body{
    color:#C9C9C9;
    background-color: #FAEEE0;
}
#exampleModal .modal-body .drag-box{
    font-family: Sora;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    background-color: #F4F4F4;
    
}

#exampleModal .modal-footer{
    background-color: #FAEEE0;
    border-top: 0 none;
}

#exampleModal2 .modal-header{
    background: #FAEEE0;
    
}
#exampleModal2 .modal-dialog{
    width:835px;
    
}
#exampleModal2 .modal-header{
    background: #FAEEE0;
    color:#E3BC6D;
    border-bottom: 3px solid #6D9886;
}
#exampleModal2 .modal-header .modal-title{
    font-family: Sora;
    font-weight: bolder;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
#exampleModal2 .modal-body{
    color:#C9C9C9;
    background-color: #FAEEE0;
}
#exampleModal2 .modal-body .drag-box{
    font-family: Sora;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    background-color: #F4F4F4;
    
}

#exampleModal2 .modal-footer{
    background-color: #FAEEE0;
    border-top: 0 none;
}


</style>
