<template>
<div class = "app-container" id = "all">
  
    <nav class = "navbar navbar-expand-lg navbar-light col-md-12 col-lg-12" id = "sidebar">
      <div class = "container-fluid">
        <webfile />
      </div>
    </nav>
    
    <div class = "content " id="mainWin">
      <insideVue />
      <div class = "ins" id = "cont1">
        <div class = "container-fluid" id = "under">
          <underVue />
        </div>
      </div>
    </div>
  
</div>
</template>

<script>
import webfile from './components/webfile.vue'
import insideVue from './components/insideVue.vue'
import underVue from './components/underVue.vue'
export default {
  name: 'App',
  components: {
    webfile,
    insideVue,
    underVue
  },
    
}
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css?family=Epilogue&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  display:flex;
  width:100%;
  height:100vh;
  margin:0;
  
}
#under{
  background:#FAEEE0;
  width:inherit;
  height:290px;
  
}
#all{
  display:flex;
  width:100%;
}
#all > *:nth-child(1){
  flex:1 1 30;
}
#all > *:nth-child(2){
  flex:1 1 70;
}
#sidebar{
  background:#FAEEE0;
  height:inherit;
  display:flex;
  align-items: flex-start;
  min-width: 280px;
	max-width: 280px;
  width: 280px;
}
#mainWin {
  background:#FEF9EF;
  width: 100%;
  height:inherit;
  position: relative;
  margin:0;
}
@media (min-width: 900px) {
    #app{
      overflow: hidden;
    }
    #navside{

        display:none;
    }
    #mobsidebar{
        display:none;
    }
    
}
@media (max-width: 900px) {
#app{
      overflow: hidden;
      height: 100vh;
    }

#sidebar {
        margin-left: -270px;
        
        height: 100vh;
    }

#mainWin{
  width:100vw;
}
#pic1{
    width:100px;
    cursor:pointer;
}
#pic2{
    width:100px;
    cursor:pointer;
}
#pic3{
    width:100px;
    cursor:pointer;
}
#les1{
    padding-top:50px;
}
.progress{
  margin-bottom:-20px;
}
table{
  width:100%;
}
.topN{
  display:flex;
}
.topN > *:nth-child(1){
  flex:1 1 30;
}
.topN > *:nth-child(2){
  flex:1 1 70;
}
.navside{
  margin-top:70px;
}
#bitis{
  margin-top:20px;
  margin-left:-170px;
}
.searchC{
  margin-left:-170px;
}
.form-control{
  width:300px;
}
#mobsidebar{
  width:250px;
}
}
</style>
