* {
  box-sizing: border-box;
    
}


body{
    width: 1650px;
    
}

.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
    background:  rgba(250,238,224,1);
    max-height: 130vh;
    width: 1650px;
    
    
}

#sidebar{
	min-width: 300px;
	max-width: 300px;
    height: inherit;
	background-color: rgba(250,238,224,1);
	color: #fff;
	transition: all 0.3s;
    
}


#sidebar .sidebar-header{
	padding: 20px;
	background: #6d7fcc;
}
#sidebar ul.components{
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}


#sidebar ul p{
	color: #fff;
	padding: 10px;
}

#sidebar .Logo #logo {
  width: 200px;
  height: 60px;
  background: url("images/LOGO.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin-left: 0px;
  text-align: center;
  cursor:pointer;
  opacity: 1;
  
  overflow: hidden;
}
#sidebar .col{
    margin-bottom:50px;
}

#sidebar ul{
    list-style: none;
}
#sidebar ul li{
    
  font-family: Sora;
  font-weight: bolder;
  font-size: 15px;
  opacity: 1;
  text-align: left;
  padding: 15px;
  
}
#sidebar a{
    text-decoration:none;
    color: rgba(227,187,108,1);
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

/* Side Bar*/



#sidebar.active {
    margin-left: -250px;
}



#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover{
	color: #A1BA6D;
	
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: blue;
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}
ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

.content{
    position:relative;
	width: 100%;
	height: inherit;
	
	transition: all 0.3s;
    background: rgba(254,249,239,1);
}

.content .form-control{
   margin-top: 50px;
    margin-left: 10px;
    width: 600px;
    height: 48px;
    border-color:rgba(166, 166, 166, 0.11);
    font-family: Sora;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    padding: 20px;
    color: #B9B9B9;
    opacity: .5;
    
    box-shadow: inset 4px 4px 4px rgba(166, 166, 166, 0.11);
}
.content h1{
    width: 382px;
    color: rgba(249,207,147,1);
    position: relative;
    top: 150px;
    padding: 20px;
    font-family: Sora;
    font-weight: bold;
    font-size: 39px;
    opacity: 1;
    text-align: left;
}
.content #con-f1 {
    
    width:1650px;
}
.content .container1{
    width:100%;
}
.content table{
    margin-top: 250px;
    border: 3px solid #F4E1D3;
    width:1500px;
}
.content .table1{    
    
    border: 3px solid #F4E1D3;
    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;

    color: #969595;
    padding: 5px;
    
}
.content .row1{    
    
    border: 3px solid #F4E1D3;
    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;

    color: #969595;
    padding: 5px;
    
}
.content .row2{    
    
    border: 3px solid #F4E1D3;
    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;

    color: #969595;
    padding: 5px;
    
}
.content .row3{    
    
    border: 3px solid #F4E1D3;
    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;

    color: #969595;
    padding: 5px;
    
}
.content .row4{    
    
    border: 3px solid #F4E1D3;
    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;

    color: #969595;
    padding: 5px;
    
}


table{
    width: inherit;
    height: 50vh;
    margin-left:20px;
    
}
th{
    height: 120px;
    vertical-align:bottom;
    
    border: 3px solid #F4E1D3;
    
    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    
}
td{
    vertical-align:middle;
    min-width: 50px;
    text-align: center;
    border: 3px solid #F4E1D3;
    font-family: Epilogue;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    padding: 10px;
    cursor:pointer;
    
}
.table-bordered >:not(caption)>*>* {
    
    border-width: 3px 1px;
    border: 3px solid #F4E1D3;
}
table thead tr#row1  {
    background:#D79771; 
    color:#FEF9EF;
    padding: 14px 0px 14px 23px;
    text-align: center;
}
table tbody tr td#pic1{
    
    vertical-align:baseline;
    
}
.content .under{
    height:inherit;
    width: 100%;
    padding-top: 100px;
    background-color:rgba(250,238,224,1);
    
}
.content .under img{
    height:25px;
    width: 1000px;
    margin-left: 300px;
    background-repeat: no-repeat;
      background-position: center center;
      cursor:pointer;
      text-align: center;
      opacity: 1;

      overflow: hidden;
}
.content .under .container{
    margin-top:-30px;
    margin-left:300px;
    width:100%;
}
.content .under .container img {
        height: 50px;
        width: 130px;
    }



.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #A1BA6D;
    color:#fff;

  }
.under .row {
    height: 180px;
    width: 340px;
    
}
.upload-music-modal {
    margin-top: 15%;
}

#exampleModal .modal-content{
    border:3px solid #6D9886;;
    
}
#exampleModal .modal-header{
    background: #FAEEE0;
    color:#E3BC6D;
    border-bottom: 3px solid #6D9886;
}
#exampleModal .modal-header .modal-title{
    font-family: Sora;
    font-weight: bolder;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
#exampleModal .modal-body{
    color:#C9C9C9;
    background-color: #FAEEE0;
}
#exampleModal .modal-body .drag-box{
    font-family: Sora;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    background-color: #F4F4F4;
    
}

#exampleModal .modal-footer{
    background-color: #FAEEE0;
    border-top: 0 none;
}

#exampleModal2 .modal-header{
    background: #FAEEE0;
    
}
#exampleModal2 .modal-dialog{
    width:835px;
    
}
#exampleModal2 .modal-header{
    background: #FAEEE0;
    color:#E3BC6D;
    border-bottom: 3px solid #6D9886;
}
#exampleModal2 .modal-header .modal-title{
    font-family: Sora;
    font-weight: bolder;
    font-size: 14px;
    opacity: 1;
    text-align: left;
}
#exampleModal2 .modal-body{
    color:#C9C9C9;
    background-color: #FAEEE0;
}
#exampleModal2 .modal-body .drag-box{
    font-family: Sora;
    font-weight: bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
    background-color: #F4F4F4;
    
}

#exampleModal2 .modal-footer{
    background-color: #FAEEE0;
    border-top: 0 none;
}



@media (min-width: 700px) {
    #navside{
        display:none;
    }
    #mobsidebar{
        display:none;
    }
}
@media (max-width: 700px) {
    body{
        width:100%;
    }
    .wrapper{
        width:100%;
        height: 900px;
        
    }
    #navside a i{
        width:50px;
        height:50px;
        position:relative;
        background-color:#fff;
        border-radius: 30px;
    }
    #sidebar {
        margin-left: -303px;
        max-height: inherit;
        
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
    .content table{
        
        width:550px;
        margin-left:10px;
    }
    .content #con-f1 {

        width:100%;
    }
    
    th{
        height: 100px;
        vertical-align:middle;
        border: 3px solid #F4E1D3;
        font-family: Epilogue;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;

    }
    td{
        vertical-align:middle;
        min-width: 50px;
        border: 3px solid #F4E1D3;
        font-family: Epilogue;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 13px;
        padding: 10px;
    }
    .content{
        
        height:inherit;
    }
    #navside {
        position:absolute;
        margin-top:9px;
    }
    .content .form-control{
        margin-top: 20px;
        margin-bottom:-80px;
        margin-left:70px;
        width: 344px;
        height: 48px;
        box-shadow: inset 4px 4px 4px rgba(166, 166, 166, 0.11);
    }
    .content h1{
        width: 382px;
        color: rgba(249,207,147,1);
        position: relative;
        top: 150px;
        margin-bottom: -20px;
        font-family: Sora;
        font-weight: bold;
        font-size: 39px;
        opacity: 1;
        text-align: left;
    }
    table thead tr#row1  {
        background:#D79771; 
        color:#FEF9EF;
        font-family: Epilogue;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
    }
    
    .content .under{
        
        width: 100%;
        height: 300px;
    }

    .content .under  #pics{
        height: 15px;
        width: 550px;
        text-align: center;
        margin-top:-80px;
        margin-left:20px;
        text-align: center;
        opacity: 1;
        overflow: hidden;
    }
   
    .content .under .container img {
        height: 50px;
        width: 130px;
    }
    .content .under .container{
        margin-top:-60px;
        margin-left:-180px;
        width:100%;
    }
    #mobsidebar{
        max-width: 300px;
        height: 100%;
    }
    #sid{
        min-width: 300px;
        max-width: 300px;
        height: inherit;
        background-color: rgba(250,238,224,1);
        color: #fff;
        transition: all 0.3s;
        height: 100%;

    }


    #sid .sidebar-header{
        padding: 20px;
        background: #6d7fcc;
    }
    #sid ul.components{
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }


    #sid ul p{
        color: #fff;
        padding: 10px;
    }

    #sid .Logo #logo {
      width: 200px;
      height: 60px;
      background: url("images/LOGO.png");
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 0px;
      text-align: center;
      cursor:pointer;
      opacity: 1;

      overflow: hidden;
    }
    #sid .col{
        margin-bottom:10px;
    }

    #sid ul{
        list-style: none;
    }
    #sid ul li{

      font-family: Sora;
      font-weight: bolder;
      font-size: 15px;
      opacity: 1;
      text-align: left;
      padding: 10px;

    }
    #sid a{
        text-decoration:none;
        color: rgba(227,187,108,1);
    }
    a,
    a:hover,
    a:focus{
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    /* Side Bar*/



    #sid.active {
        margin-left: -250px;
    }



    #sid ul li a{
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

    #sid ul li a:hover{
        color: #A1BA6D;

    }
    #sid ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: blue;
    }

    a[data-toggle="collapse"]{
        position: relative;
    }

    

}







