
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

#headbar{
    
    font-family: Rockwell;
    background-color: #E98074;
    font-style: normal;
    font-weight: normal;
    
    font-size: 17px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);

}
#headbar .user{
    color: azure;
}
#headbar .nav-link{
    color: #3f3f3f;
}


.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.body{
    position : absolute;
}
#home{
    background-image: url('https://i.imgur.com/cZ9o414.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
}
#home h1{
    margin-top: 30px;
    color:white;
    text-align: center;
}
#banner2{
    background: url('https://i.imgur.com/b0kXaZn.png');
    display:table;
    
    width: 100%;
    background-size: cover;
    height: 67vh;
    box-shadow: 0 -4px 20px 0 rgba(0, 0, 0, 0.19), 0 -20px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.button{
    
    font-family: Rockwell;
    
    min-width: 250px;
}
#banner2 h3{
    margin-top: 10px;
    font-family: Rockwell;
    color:white;
    font-size: 35px;
    font-weight:400;
    //text-shadow: 1px 1px 10px #f791ed;
    text-align: center;
}
#banner2 p{
    
    font-family: Rockwell;
    color:white;
    font-size: 25px;
    font-weight:400;
    //text-shadow: 1px 1px 10px #f791ed;
    text-align: center;
}

#banner2 .card{
    background-color: #e3c476;
    
}
#pic1{
    height: 50vh;
}
#learn{
    background-color: #E7717D;
    display:table;
    height: 50%;
    position: relative;
    width: 100%;
    text-align: center;
    background-size: cover;
}


footer{
    background-color: #3f3f3f;
    color:#d5d5f5;
    padding-top: 2rem;
    
    padding-bottom:2rem;
}

hr.light{
    border-top: 1px solid #d5d5d5;
   
}
.nav-item{
    margin-right: 50px;
}
